package-lock.json
node_modules/
dist/
build/
.env
.DS_Store
.vscode/
.idea/
*.log
*.tmp
*.bak
*.swp
*.swo
*.class
*.jar
*.war
*.iml
*.pyc
__pycache__/
*.sqlite3
*.db
coverage/
*.egg-info/
*.out
*.o
*.obj
*.exe